*~
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.future/
execdir/
install/
data/
algorithms/runsolver/runsolver
algorithms/lkh-209/src-lkh-original/
algorithms/highs-v153/HiGHS-1.5.3/
algorithms/highs-v153/bin/
